 <div class="col-lg-12">
          <div class="col-lg-4 l_player"> 
            <div class="centered"><h2><%=@battle.players.first.name%></h2></div>
            <%= image_tag 'left_p.png', :class => "style_image" %> 
            <% lp_points = @battle.lp_points%>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%=lp_points%>%;"  aria-valuenow=<%=lp_points.to_s%> aria-valuemin="0" aria-valuemax="100">
                <%=lp_points %>
              </div>
            </div>
          </div>
          <div class="col-lg-4 centered">
            <h2>VS</h2>
            <%if @battle[:status] == "game_over"%>
            <div class="alert alert-success">
              <p><%= @battle.players.find_by(game: false)[:name] %>, вітаю! Ти переміг</p>
            </div>
                
            <%else%>
                <%= render 'info_board'%>
                <div class="alert alert-info">
                    <p><b>Хід гравця <%= @battle.players.find_by(game: true)[:name] %></b></p>
                    <p>У тебе є  20 секунд на удар.<br>Ти готовий?</p>
                </div>
                <%= link_to 'Так!', edit_battle_path(@battle), class: 'btn btn-info', style: 'text-devoration: none; '%>
            <%end%>
          </div>
          <div class="col-lg-4 r_player"> 
            <div class="centered"><h2><%=@battle.players.last.name%></h2></div>
            <%= image_tag 'right_p.png', :class => "style_image"%>
            <% rp_points = @battle.rp_points%>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%=rp_points%>%;"  aria-valuenow=<%=rp_points.to_s%> aria-valuemin="0" aria-valuemax="100">
              <%=rp_points %>
              </div>
            </div>
          </div>
        </div><!--/lg-12-->



